body {
    display: flex; /* Включаем магию флексов */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    height: 100vh; /* Растягиваем body на всю высоту экрана */
    margin: 0; /* Убираем стандартные отступы браузера */
    background-color: #f0f2f5;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}
#main-button {
    border: none;
    transition: 0.3s;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
}