body {
    margin: 0;
    display: flex;
    justify-content: center; /* Центр по горизонтали */
    align-items: center; /* Центр по вертикали */
    min-height: 100vh; /* Высота во весь экран */
    background-color: #f4f4f9;
    font-family: sans-serif;
}

.card {
    background: white;
    padding: 40px; /* Внутренние отступы */
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}


#main-button {
    border: none;
    transition: 0.3s;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
}